- Clean and transform the above dataset to add the following columns: start year, end year, director, actors.

- Your company wants to perform some analysis on a movies gross margin.  Please create a new csv that contains a subset of the original data where "Gross" is a known value, and all other numerical statistics are present.

- Create a visualization to show what (if any) correlation there is between rating and the length of the movie's description.
 
- Bonus: Do some analysis on the genre(s) of movies.  Create at least 5 questions like "What genres are the most profitable?", and write code to answer them.

In [20]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import re

In [21]:
movies = pd.read_csv('movies.csv')

movies = pd.DataFrame(movies)
movies.columns = movies.columns.str.lower()
display(movies.head())
print(movies['year'].dtype)

,movies,year,genre,rating,one-line,stars,votes,runtime,gross
0,Blood Red Sky,(2021),"\nAction, Horror, Thriller",6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,"21,062",121.0,NaN
1,Masters of the Universe: Revelation,(2021– ),"\nAnimation, Action, Adventure",5.0,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...","17,870",25.0,NaN
2,The Walking Dead,(2010–2022),"\nDrama, Horror, Thriller",8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...","885,805",44.0,NaN
3,Rick and Morty,(2013– ),"\nAnimation, Adventure, Comedy",9.2,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...","414,849",23.0,NaN
4,Army of Thieves,(2021),"\nAction, Crime, Horror",NaN,"\nA prequel, set before the events of Army of ...",\n Director:\nMatthias Schweighöfer\n| \n ...,NaN,NaN,NaN

object

In [22]:
# create start year and end year columns
movies[['start year', 'end year']] = movies['year'].str.strip('()').str.split('–', expand=True)
movies['end year'].fillna(movies['start year'], inplace=True)
movies['end year'] = np.where(movies['end year'] == ' ', movies['start year'], movies['end year'])
movies['end year'].fillna(movies['start year'], inplace=True)

display(movies.head())

,movies,year,genre,rating,one-line,stars,votes,runtime,gross,start year,end year
0,Blood Red Sky,(2021),"\nAction, Horror, Thriller",6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,"21,062",121.0,NaN,2021,2021
1,Masters of the Universe: Revelation,(2021– ),"\nAnimation, Action, Adventure",5.0,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...","17,870",25.0,NaN,2021,2021
2,The Walking Dead,(2010–2022),"\nDrama, Horror, Thriller",8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...","885,805",44.0,NaN,2010,2022
3,Rick and Morty,(2013– ),"\nAnimation, Adventure, Comedy",9.2,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...","414,849",23.0,NaN,2013,2013
4,Army of Thieves,(2021),"\nAction, Crime, Horror",NaN,"\nA prequel, set before the events of Army of ...",\n Director:\nMatthias Schweighöfer\n| \n ...,NaN,NaN,NaN,2021,2021

In [42]:
# create director and actors columns
movies['stars'] = movies['stars'].str.replace('\n', '')
movies['stars'] = movies['stars'].str.replace('|', '')

movies['director'] = movies['stars'].astype(str).str.extract(r'Director:(.*?)Stars:', flags=re.DOTALL)
movies['actors'] = movies['stars'].astype(str).str.extract(r'Stars:(.*)', flags=re.DOTALL)

display(movies[['stars']].head())
display(movies[['director', 'actors']].head())

                                               stars
0      Director:Peter Thorwarth     Stars:Peri Ba...
1                  Stars:Chris Wood, Sarah Michel...
2                  Stars:Andrew Lincoln, Norman R...
3                  Stars:Justin Roiland, Chris Pa...
4      Director:Matthias Schweighöfer     Stars:M...

,director,actors
0,Peter Thorwarth,"Peri Baumeister, Carl Anton Koch, Alexander Sc..."
1,NaN,"Chris Wood, Sarah Michelle Gellar, Lena Headey..."
2,NaN,"Andrew Lincoln, Norman Reedus, Melissa McBride..."
3,NaN,"Justin Roiland, Chris Parnell, Spencer Grammer..."
4,Matthias Schweighöfer,"Matthias Schweighöfer, Nathalie Emmanuel, Ruby..."